$black: hsla(0, 100%, 0%, 1);
$black-text: #333;
$black-low-transparent: hsla(0, 100%, 0%, .7);
$black-hight-transparent: hsla(0, 100%, 0%, .4);
$blue: hsla(219%, 70%, 38%, 1);
$blue-low-transparent: hsla(219%, 70%, 38%, .7);
$blue-hight-transparent: hsla(219%, 70%, 38%, .4);
$color2: hsla(203%, 100%, 48%, 1);
$color3: hsla(193%, 100%, 44%, 1);
$color4: hsla(178%, 100%, 37%, 1);
$color5: hsla(180%, 88%, 20%, 1);

/* RGB */
// $color1: rgba(29, 76, 163, 1);
// $color2: rgba(0, 150, 244, 1);
// $color3: rgba(0, 177, 226, 1);
// $color4: rgba(0, 191, 184, 1);
// $color5: rgba(6, 94, 94, 1)