#contact-layout {
    display: none;
    &:target {
        display: block;
    }

    .container {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr 1fr;

        .contact {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}