@import "../../assets/styles/variables/_responsive.scss";

#contact-layout {
    display: none;
    &:target {
        display: block;
    }

    .container {
        display: grid;
        min-height: 100vh;
        grid-template-columns: 1fr 1fr;

        @media #{$screen-s} {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;   
        }
    }
}