<html>
    <head>
        <title>My Layout</title>
        <link rel="stylesheet" href="./index.css">
    </head>
    <body>
        <div class="app-container">
            <header class="app-header">
                <nav class="app-navigation">
                    <ol>
                        <li class="panel panel-1"><a href="#layout-1" title="layout1"></a></li>
                        <li class="panel panel-2"><a href="#layout-2" title="layout2"></a></li>
                        <li class="panel panel-3"><a href="#layout-3" title="layout3"></a></li>
                        <li class="panel panel-4"><a href="#layout-4" title="layout4"></a></li>
                    </ol>
                </nav>
            </header>
            <div id="layout-1" class="layout">
                <!-- Contacto -->
                <div class="container">
                    <div class="contact contact-twitter">
                        <p>twitter</p>
                    </div>
                    <div class="contact contact-github">
                        <p>github</p>
                    </div>
                </div>
            </div>

            <div id="layout-2" class="layout">
                <!-- Home -->
            </div>

            <div id="layout-3" class="layout">
                <!-- Tecnologias -->
            </div>

            <div id="layout-4" class="layout">
                <!-- CV -->
            </div>
        </div>
    </body>
</html>