.it-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding-top: 15vh;

    h2 {
        text-align: center;
    }

    .cv-section-container {
        display: flex;
        flex-direction: column;
        min-height: 25vh;
        
        &.cv-contact {
            .cv-contact-item {
                display: flex;
                flex-direction: column;
            }

            span {
                margin: 1rem;
            }
        }

        &.cv-studies {
            .cv-studies-item {
                display: flex;
                flex-direction: column;
                margin: 1rem;

                .cv-studies-item-title {
                    font-weight: bold;
                    font-size: 1.2rem;
                }
                .cv-studies-item-date {
                    font-size: .8rem;
                }
            }
        }

        &.cv-experience {
            .cv-experience-item {
                display: flex;
                flex-direction: column;
                margin: 1rem;

                .cv-experience-item-title {
                    display:flex;
                    justify-content: space-between;
                    font-weight: bold;
                    font-size: 1.2rem;
                    
                    span {
                        &:last-child {
                            font-size: .8rem;
                        }
                    }
                }
                .cv-experience-item-description {
                    font-size: .9rem;
                }
            }
        }

        @media #{'(max-width: 640px)'} {
            min-height: 0;
        }
    }
}
