.dan-arrow-container {
    
    a.arrow {
        font-size: 2.5rem;
        font-weight: bold;
        display: block;
        color: hsla(35, 4%, 88%, 0.8);

        &.arrow-left:before {
            content: '<'
        }

        &.arrow-right:before {
            content: '>'
        }

        &.arrow-up:before {
            display: block;
            content: '<';
            transform: rotate(90deg);
        }

        &.arrow-down:before {
            display: block;
            content: '<';
            transform: rotate(-90deg);
        }
    }
}