@font-face {
    font-family: Raleway;
    src: url("./assets/fonts/Raleway/Raleway-Regular.ttf"),
        url("./assets/fonts/Raleway/Raleway-Black.ttf"),
        url('./assets/fonts/Raleway/Raleway-Bold.ttf'),
        url('./assets/fonts/Raleway/Raleway-Light.ttf'),
        url('./assets/fonts/Raleway/Raleway-Italic.ttf');
}

#dan-app {
    font-family: 'Raleway', sans-serif;
	color: #666;
}