@import "./assets/styles/variables/colors";
@import "./assets/styles/variables/fonts";
@import "./assets/styles/variables/animations";

body {
    margin: 0;
    overflow: auto;
    h1,h2,h3,h4,h5,h6 {
        display: inline-block;
    }
    
    #dan-app {
        font-family: 'Raleway', sans-serif;
        color: $black-text;

        a {
            text-decoration: none;
        }

        .start-backdrop {
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #333;
            font-size: 3em;
            background-color: $blue-low;
            
            &.hide {
                display: none;
            }

            span {
                animation-duration: 1.5s;
                animation-name: tada-animation;
                animation-iteration-count: infinite; 
            }
        }

        .dan-app-container {
            background-color: $blue-low;
        }
    }
}