@import "./assets/styles/variables/colors";
@import "./assets/styles/variables/fonts";

body {
    margin: 0;
    
    #dan-app {
        font-family: 'Raleway', sans-serif;
        color: $black-text;

        a {
            text-decoration: none;
            color: $black-text;
        }

        .dan-app-container {
            background-color: $blue-hight-transparent;
        }
    }
}